<div class="buttons">

  <button tooltip [tooltipMsg]="'Подсказка1'" [tooltipPlacement]="'left'" type="button" class="btn btn-primary">
    Tooltip left
  </button>

  <button tooltip [tooltipMsg]="'Подсказка2'" [tooltipPlacement]="'top'" type="button" class="btn btn-primary">
    Tooltip top
  </button>

  <button tooltip [tooltipMsg]="'Подсказка4'" [tooltipPlacement]="'bottom'" type="button" class="btn btn-primary">
    Tooltip bottom
  </button>

  <button tooltip [tooltipMsg]="'Подсказка3'" [tooltipPlacement]="'right'" type="button" class="btn btn-primary">
    Tooltip right
  </button>

</div>

<app-tooltip-wrapper></app-tooltip-wrapper>